# Python virtual environments
.venv/
venv/

# dbt
dbt/target/
dbt/logs/

# Secrets / local configuration
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars

# Airflow
airflow/.venv/
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/airflow.cfg
airflow/logs/
airflow/webserver_config.py
airflow/standalone_admin_password.txt
airflow/simple_auth_manager_passwords.json.generated

.github/dbt/.user.yml