# Python virtual environments
.venv/
venv/

# dbt
dbt/target/
dbt/logs/

# Secrets / local configuration
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars